<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ErpDemo.Properties.Settings.Erp_DemoCS" connectionString="Data Source=VINB22;Initial Catalog=Erp_Demo;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>